<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glacier.sys.mapper.UserRoleMapper">

    <select id="findByUserId" resultType="String">
        select a.role_id
        from sys_user_role a
        <where>
           a.user_id = #{userId}
        </where>
    </select>

    <delete id="deleteByUserId">
        delete from sys_user_role
        where user_id=#{userId}
    </delete>

    <update id="deleteByRoleId">
        delete from sys_user_role
        where role_id=#{roleId}
    </update>
</mapper>